{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="rectangle_9">
    <div class="frame_86">
        <img src="{% static 'images/moco.png' %}" alt="모코" width="263" class="moco">
        <img src="{% static 'images/mococo.png' %}" alt="모코" width="250" class="mococo">
    </div>

    <div class="frame_112">
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}

            <div class="frame_87">
                <div class="login_insert">
                    <input type="text" name="username" id="username" placeholder="아이디 입력">
                </div>

                <div class="login_insert">
                    <input type="password" name="password" id="password" placeholder="비밀번호 입력">
                </div>

                <div class="gap_1"></div>

                <div class="pw">비밀번호를 잊으셨나요?</div>

                <p id="login-msg">{% if error %}{{ error }}{% endif %}</p>

                <div class="gap_2"></div>

                <button type="submit" class="frame_88" id="login-btn">
                    <span class="normal">로그인</span>
                    <span class="hover-text">시작하기</span>
                </button>
            </div>
        </form>

        <div class="frame_111">
            계정이 없으신가요?&nbsp;&nbsp;
            <a href="{% url 'accounts:signup' %}"><span style="color: #43A4DB;">회원가입</span></a>
        </div>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>
