
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="rectangle_9">
    <div class="frame_86">
      <img src="{% static 'images/moco.png' %}" alt="모코" width="400">
    </div>

    <div class="frame_112">
    
        <div class="frame_87">
        <div class="login_insert">
            아이디 입력
        </div>

        <div class="login_insert">
            비밀번호 입력
        </div>

        <div class="gap_1">

        </div>

        <div class="pw">
            비밀번호를 잊으셨나요?
        </div>

        <div class="gap_2">

        </div>
        <div class="frame_88">
            <a href="{% url 'main' %}">
            로그인
            </a>
        </div>
        </div>

        <div class="frame_111">
        계정이 없으신가요?&nbsp;&nbsp;<span style="color: #43A4DB;">회원가입</span>
    </div>
      
    </div>


</div>