{% extends 'plus_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/plus_info.css' %}">
{% endblock %}

{% block content %}
<div class="frame_148">
    <div class="frame_143">
        <div class="font_2">
        카테고리
        </div>
        <div class="frame_142">
            <div class="frame_149">
            <img src="{% static 'images/image25.png' %}" class="icon_1">
             <div class="fashion">패션</div>  
            </div>
            <div class="pt">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M4.375 7.875L10.5 14L16.625 7.875" stroke="black" stroke-opacity="0.4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </div>
    
        </div>
    </div>
    <div class="frame_147">
        <div class="frame_144">
            <div class="font_2">
                 아이템 이름
            </div>
            <div class="frame_141">
                 <div class="font_3">이름을 입력해주세요</div>
            </div>
        </div>
        <div class="empty">

        </div>
        <div class="frame_144">
            <div class="font_2">
                 링크 첨부 (선택)
            </div>
            <div class="frame_141">
                 <div class="font_3">링크를 입력해주세요</div>
            </div>
        </div>
        <div class="empty">
            
        </div>
        <div class="frame_144">
            <div class="font_2">
                 가격 (선택)
            </div>
            <div class="frame_141">
                 <div class="font_3">가격을 입력해주세요</div>
            </div>
        </div>
        <div class="empty">
            
        </div>
    </div>
</div>
{% endblock %}