{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="rectangle_8">
    <p class="pretendard">회원가입</p>
    
    <svg class="point" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
    <path d="M20.625 26.125L11 16.5L20.625 6.875" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <div class="line-md"> </div>
    <div class="frame_100">
        <img src="{% static 'images/image11.png' %}" alt="모코">
        
        <div class="frame_99">
        <div class="frame_90">
            <div class="input">
                아이디를 입력해주세요
            </div>
        </div>
        <div class="text">

        </div>
        <div class="frame_90">
            <div class="input">
                비밀번호를 입력해주세요
            </div>
        </div>
        <div class="text">
            
        </div>
        <div class="frame_90">
            <div class="input">
                비밀번호 확인
            </div>
        </div>
        <div class="text">
            
        </div>
        <div class="frame_90">
            <div class="input">
                닉네임을 입력해주세요
            </div>
        </div>
        <div class="text">
            
        </div>
        </div>
        <div class="frame_98">
            <div class="frame_94">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <circle cx="11" cy="11" r="11" fill="#3AADD9"/>
                </svg> 
                모든 약관에 동의합니다
            </div>
            <div class="frame_97">
                <div class="frame_95">
                    이용약관 동의 (필수)
                </div>
                <div class="frame_95">
                    개인정보 수집 및 이용 동의 (필수)
                </div>
            </div>
        </div>
    </div>

    <div class="btn">
        회원가입
    </div>
</div>