{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tournaments/css/cup_link.css' %}">
{% endblock %}

{% block content %}

<div class="Frame134">
    <div class="Frame133">
        <div class="moa_img"></div>
        <div class="Frame123">
            <div class="Frame122">모아컵 결과 공유</div>
            친구에게 링크를 보내고<br>같은 모아컵을 진행해보세요!
        </div>
    </div>
</div>

<div class="Frame185">
    <div class="Frame142">
        <p class="share_text">공유 링크</p>
        <div class="Frame141">
            <p class="link_text" id="share-link">
                {% if share_url %}
                    {{ share_url }}
                {% elif share_link %}
                    {{ share_link }}
                {% elif link %}
                    {{ link }}
                {% else %}
                    공유 링크를 불러올 수 없습니다.
                {% endif %}
            </p>
            <img 
                src="{% static 'tournaments/icons/iconamoon_copy.svg' %}" 
                alt="복사" 
                class="copy_icon"
                id="copy-icon"
            >
        </div>
    </div>
    <button class="copy_btn" id="copy-btn">링크 복사</button>
</div>


<script src="{% static 'tournaments/js/cup_link.js' %}"></script>
{% endblock %}