{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tournaments/css/cup_select.css' %}">
{% endblock %}

{% block content %}

<form method="post" action="{% url 'tournaments:create' %}">
    {% csrf_token %}

    <div class="Frame64">
        <p class="head_text">몇 강으로, 어떤 카테고리로<br>대결할지 선택해요!</p>

        <div class="Frame63">
            <div class="Frame62">
                <p class="category_text">어떤 카테고리로 진행할까요?</p>

                <div class="Frame60">
                    {% for category in categories %}
                        <button
                            type="button"
                            class="category_btn"
                            data-category-id="{{ category.id }}">
                            {{ category.name }}
                        </button>
                    {% empty %}
                        <p>선택 가능한 카테고리가 없습니다.</p>
                    {% endfor %}
                </div>

                <input type="hidden" name="category" id="selected_category">
            </div>

            <div class="Frame57">
                <p class="choice_text">몇 강으로 진행할까요?</p>

                <div class="Frame55">
                    <div class="Frame54">
                        {% for value, label in size_choices %}
                            <button
                                type="button"
                                class="round_btn"
                                data-size="{{ value }}">
                                {{ label }}
                            </button>
                        {% endfor %}
                    </div>
                </div>

                <input type="hidden" name="tournament_size" id="selected_size">
            </div>
        </div>
    </div>

    <img src="{% static 'tournaments/images/image2.png' %}" alt="" class="image2">
    <img src="{% static 'tournaments/images/image4.png' %}" alt="" class="image4">
    <img src="{% static 'tournaments/images/image5.png' %}" alt="" class="image5">
    <img src="{% static 'tournaments/images/image6.png' %}" alt="" class="image6">
    <img src="{% static 'tournaments/images/image7.png' %}" alt="" class="image7">
    <img src="{% static 'tournaments/images/image8.png' %}" alt="" class="image8">

    <button type="submit" class="start_btn">시작하기</button>
</form>

<script src="{% static 'tournaments/js/cup_select.js' %}"></script>

{% endblock %}