{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tournaments/css/cup_ing.css' %}">
{% endblock %}

{% block content %}

<div class="Frame81">
    <div class="Frame80">
        <div class="Frame79">
            <p class="round-text">모아컵 32강</p>
            <div class="Frame78">
                <div class="Frame70">
                    <div class="Frame69">
                        <div class="Frame67">
                            <img src="{% static 'tournaments/icons/solar_cup-star-bold.svg' %}" alt="trophy" width="15" height="15">
                        </div>
                        <div class="Frame68">32강</div>
                    </div>
                </div>
                <div class="group1">
                    <div class="Frame71">5/32 경기</div>
                </div>
            </div>
        </div>
        <div class="Frame72">
            <div class="moa_img"></div>
        </div>
    </div>
    <div class="Frame77">
        <div class="Frame76">어떤 아이템이 더 마음에 드나요?</div>
        <div class="Frame74">마음에 드는 아이템을 선택해주세요!</div>
    </div>
</div>

<img src="{% static 'tournaments/images/image2.png' %}" alt="" class="image2">
<img src="{% static 'tournaments/images/image4.png' %}" alt="" class="image4">
<img src="{% static 'tournaments/images/image5.png' %}" alt="" class="image5">
<img src="{% static 'tournaments/images/image6.png' %}" alt="" class="image6">
<img src="{% static 'tournaments/images/image8.png' %}" alt="" class="image8">
<img src="{% static 'tournaments/images/image9.png' %}" alt="" class="image9">

<div class="Frame82">
    <div class="vs_product" id="card-left">
        <div class="Frame29">
            <div class="Rectangle19"></div>
            <div class="Frame28">
                <div class="Frame25">
                    <div class="Frame27">롬앤 틴트 3호</div>
                </div>
                <div class="Frame26">
                    <div class="Frame27">약 10,000원</div>
                </div>
            </div>
        </div>
    </div>
    <div class="vs_product" id="card-right">
        <div class="Frame29">
            <div class="Rectangle19"></div>
            <div class="Frame28">
                <div class="Frame25">
                    <div class="Frame27">롬앤 틴트 3호</div>
                </div>
                <div class="Frame26">
                    <div class="Frame27">약 10,000원</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Frame83">
    <div class="vs-img"></div>
</div>

<button class="next-btn" id="next-btn" data-url="{% url 'tournaments:result' tournament.pk %}" disabled>다음</button>

<div class="Frame158">
    <div class="Frame157">
        <img src="{% static 'tournaments/icons/jam_alert-f.svg' %}" alt="경고">
        <div class="Frame156">
            <div class="Frame155">
                <p class="end_title">모아컵을 종료하시겠어요?</p>
                <p class="end_text">진행 중인 내용은 저장되지 않으며,<br>처음부터 다시 시작해야 합니다.</p>
            </div>
            <div class="Frame154">
                <button class="modal-cancel" id="modal-cancel">취소</button>
                <button class="modal-confirm" id="modal-confirm" data-url="{% url 'tournaments:create' %}">종료</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'tournaments/js/cup_ing.js' %}"></script>
{% endblock %}
