@font-face {
font-family: "Gmarket Sans TTF";
src: url('/static/fonts/GmarketSansTTFLight.ttf') format('truetype');
font-weight: 300;
}

@font-face {
font-family: "Gmarket Sans TTF";
src: url('/static/fonts/GmarketSansTTFMedium.ttf') format('truetype');
font-weight: 500;
}

@font-face {
font-family: "Gmarket Sans TTF";
src: url('/static/fonts/GmarketSansTTFBold.ttf') format('truetype');
font-weight: 700;
}

@font-face {
font-family: "Pretendard";
src: url('/static/fonts/Pretendard-Bold.ttf') format('truetype');
font-weight: 700;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 844px;
background-color: #000;
}

.screen {
width: 390px;
height: 844px;
position: relative;
overflow: hidden;
}

.overlay {
width: 100%;
height: 100%;
position: relative;
}

/* 뒤로가기 버튼 */
.back-btn {
position: absolute;
top: 20px;
left: 20px;
text-decoration: none;
margin-top: 30px;
}
