.screen {
    background: linear-gradient(180deg, #FFF 0%, #43A4DB 100%);
}

.overlay {
    background: rgba(18, 18, 18, 0.40);
}

.mainframe {
position: absolute;
top: 155px;
left: 50%;
transform: translateX(-50%);
display: flex;
width: 300px;
flex-direction: column;
align-items: center;
gap: 57px;
}

.head_text {
align-self: stretch;

color: #FFF;
text-align: center;
text-shadow: 0 4px 20px rgba(150, 241, 255, 0.80);
font-family: "Gmarket Sans TTF";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
}

.subframe1 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 52px;
align-self: stretch;
}

.subframe2 {
display: flex;
flex-direction: column;
align-items: center;
gap: 27px;
align-self: stretch;
}

.subframe3 {
display: flex;
flex-direction: column;
align-items: center;
gap: 27px;
align-self: stretch;
}

.choice_text {
color: #FFF;
text-align: center;
text-shadow: 0 4px 20px #96F1FF;
font-family: "Gmarket Sans TTF";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
align-self: stretch;
}

.round_grid {
display: grid;
grid-template-columns: repeat(2, 137px);
gap: 14px;
}

.round_btn {
display: flex;
width: 137px;
height: 58px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 20px;
border: 1px solid #A1D1D9;
box-shadow: 0 2px 5px 0 #96F1FF;
background: transparent;

color: #FFF;
text-align: center;
text-shadow: 0 4px 20px #96F1FF;
font-family: "Gmarket Sans TTF";
font-size: 20px;
font-style: normal;
font-weight: 500;

position: relative;
}

.round_btn:hover {
background: rgba(240, 253, 255, 0.30);
}


.round_btn.selected {
background: radial-gradient(50% 50% at 50% 50%, rgba(143, 209, 246, 0.42) 0%, rgba(150, 241, 255, 0.56) 100%);
box-shadow: 0 2px 10px 0 #96F1FF;
}

.category_text {
color: #FFF;
text-align: center;
text-shadow: 0 4px 20px #96F1FF;
font-family: "Gmarket Sans TTF";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
align-self: stretch;
}

.category_grid {
display: grid;
grid-template-columns: repeat(3, 89.759px);
gap: 12.24px;
}

.category_btn {
display: flex;
width: 90px;
height: 38px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 13.1px;
border: 0.66px solid #A1D1D9;
box-shadow: 0 1.31px 3.28px 0 #96F1FF;
background: transparent;

color: #FFF;
text-align: center;
text-shadow: 0 2.621px 13.103px #96F1FF;
font-family: "Gmarket Sans TTF";
font-size: 13px;
font-style: normal;
font-weight: 500;

position: relative;
}

.category_btn:hover {
background: rgba(240, 253, 255, 0.30);
}


.category_btn.selected {
background: radial-gradient(50% 50% at 50% 50%, rgba(143, 209, 246, 0.42) 0%, rgba(150, 241, 255, 0.56) 100%);
}

.start_btn {
position: absolute;
top: 733px;
left: 42px;
display: flex;
justify-content: center;
align-items: center;
width: 307px;
height: 69px;

border-radius: 56px;
background: linear-gradient(180deg, rgba(150, 241, 255, 0.85) 0%, rgba(62, 154, 205, 0.85) 100%);
box-shadow: 0 4px 10px 0 #FFF, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
text-decoration: none;

color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.start_btn:hover {
width: 306px;
height: 69px;
gap: 10px;

border-radius: 56px;
background: linear-gradient(180deg, rgba(131, 229, 244, 0.85) 0%, rgba(43, 140, 192, 0.85) 100%);
box-shadow: 0 4px 10px 0 #FFF, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.start_btn:active {
width: 306px;
height: 69px;
gap: 10px;

border-radius: 56px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.13) 100%), linear-gradient(180deg, rgba(131, 229, 244, 0.85) 0%, rgba(43, 140, 192, 0.85) 100%);
box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.60), 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.image2 {
position: absolute;
top: 120px;
left: 40px;
width: 60px;
height: 60px;
aspect-ratio: 1/1;
background: url('/static/images/image2.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.image4 {
position: absolute;
top: 170px;
left: 26px;
width: 120px;
height: 60px;
aspect-ratio: 2/1;
background: url('/static/images/image4.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.image5 {
position: absolute;
top: 70px;
left: 275px;
width: 80px;
height: 100px;
aspect-ratio: 4/5;
background: url('/static/images/image5.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.image6 {
position: absolute;
top: 128px;
left: 295px;
width: 75px;
height: 85px;
aspect-ratio: 75/85;
background: url('/static/images/image6.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.image7 {
position: absolute;
top: 150px;
left: 280px;
width: 55px;
height: 65px;
aspect-ratio: 55/65;
background: url('/static/images/image7.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.image8 {
position: absolute;
top: 160px;
left: 260px;
width: 80px;
height: 100px;
aspect-ratio: 4/5;
background: url('/static/images/image8.png') center / contain no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}