{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cup_ing.css' %}">
{% endblock %}

{% block content %}

<div class="Frame81">
    <div class="Frame80">
        <div class="Frame79">
            <p class="round-text">모아컵 32강</p>
            <div class="Frame78">
                <div class="Frame70">
                    <div class="Frame69">
                        <div class="Frame67">
                            <img src="{% static 'icons/solar_cup-star-bold.svg' %}" alt="trophy" width="15" height="15">
                        </div>
                        <div class="Frame68">32강</div>
                    </div>
                </div>
                <div class="group1">
                    <div class="Frame71">5/32 경기</div>
                </div>
            </div>
        </div>
        <div class="Frame72">
            <div class="moa_img"></div>
        </div>
    </div>
    <div class="Frame77">
        <div class="Frame76">어떤 아이템이 더 마음에 드나요?</div>
        <div class="Frame74">마음에 드는 아이템을 선택해주세요!</div>
    </div>
</div>

<div class="image2"></div>
<div class="image4"></div>
<div class="image5"></div>
<div class="image6"></div>
<div class="image8"></div>
<div class="image9"></div>

<div class="Frame82">
    <div class="vs_product" id="card-left">
        <div class="Frame29">
            <div class="Rectangle19"></div>
            <div class="Frame28">
                <div class="Frame25">
                    <div class="Frame27">롬앤 틴트 3호</div>
                </div>
                <div class="Frame26">
                    <div class="Frame27">약 10,000원</div>
                </div>
            </div>
        </div>
    </div>
    <div class="vs_product" id="card-right">
        <div class="Frame29">
            <div class="Rectangle19"></div>
            <div class="Frame28">
                <div class="Frame25">
                    <div class="Frame27">롬앤 틴트 3호</div>
                </div>
                <div class="Frame26">
                    <div class="Frame27">약 10,000원</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Frame83">
    <div class="vs-img"></div>
</div>

<button class="next-btn" id="next-btn" data-url="{% url 'cup_result' %}" disabled>다음</button>

<script src="{% static 'js/cup_ing.js' %}"></script>
{% endblock %}
