.btn {
    border-radius: 56px;
    background: var(--b_non, linear-gradient(180deg, #FFF 0%, #818181 100%));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 10px 0 #FFF;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 14px 0;
    margin-top: 25px;
}

.frame_148 {
    display: flex;
    width: 327px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-top: -10px;
}

.frame_143 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.font_2 {
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: stretch;
    color: #676767;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.frame_142 {
    display: flex;
    height: 55px;
    padding: 0 14px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #D3D3D3;
    background: #FFF;
}

.frame_149 {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

select.frame_149 {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #676767;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    appearance: none;
    cursor: pointer;
}

.icon_1 {
    width: 39px;
    height: 41px;
    aspect-ratio: 39/41;
}

.fashion {
    color: #676767;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
}

.frame_147 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
}

.frame_144 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.frame_141 {
    display: flex;
    height: 45px;
    padding: 0 15px;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #D3D3D3;
    background: #FFF;
}

.frame_141 input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #242424;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}

.frame_141 input::placeholder {
    color: #C8C8C8;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}

.frame_141 input[type="file"] {
    color: #C8C8C8;
    font-size: 13px;
}

.pt {
    width: 21px;
    height: 21px;
}

.empty {
    display: flex;
    width: 231px;
    height: 15px;
    flex-direction: column;
    justify-content: flex-end;
    color: #F36262;
    font-family: Pretendard;
    font-size: 10px;
    font-weight: 500;
}


.btn-active {
    background: linear-gradient(180deg, rgba(131, 229, 244, 0.85) 0%, rgba(43, 140, 192, 0.85) 100%);
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.80), 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}